Repository SELab-2/Dr-Trottoir-4, pull requests merged in 2023-04, with the labels that each got.

#377 fixed dependabot access to repository secrets
  .github/workflows/tests.yml
Labels: bug-fix

#376 Moved row actions to right in material react table
  frontend/pages/admin/data/buildings/index.tsx
  frontend/pages/admin/data/lobby/index.tsx
  frontend/pages/admin/data/mails/index.tsx
  frontend/pages/admin/data/regions/index.tsx
  frontend/pages/admin/data/tours/index.tsx
  frontend/pages/admin/data/users/index.tsx
Labels: enhancement, front-end

#367 Feature/garbage collection schedule
  backend/garbage_collection/urls.py
  backend/garbage_collection/views.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/locale/nl/LC_MESSAGES/django.mo
  backend/locale/nl/LC_MESSAGES/django.po
  backend/util/request_response_util.py
  backend/util/util.py
  frontend/.env.local
  frontend/components/admin/deleteEmailModal.tsx
  frontend/components/admin/editEmailModal.tsx
  frontend/components/admin/editLobbyModal.tsx
  frontend/components/admin/tourDeleteModal.tsx
  frontend/components/admin/userDeleteModal.tsx
  frontend/components/admin/userEditModal.tsx
  frontend/components/autocompleteComponents/autocompleteComponent.tsx
  frontend/components/autocompleteComponents/buildingAutocomplete.tsx
  frontend/components/autocompleteComponents/regionAutocomplete.tsx
  frontend/components/autocompleteComponents/syndicAutocomplete.tsx
  frontend/components/autocompleteComponents/templateAutocomplete.tsx
  frontend/components/autocompleteComponents/tourAutocomplete.tsx
  frontend/components/errorMessage.tsx
  frontend/components/errorMessageAlert.tsx
  frontend/components/garbage/BulkOperationModal.tsx
  frontend/components/garbage/GarbageCollectionEventComponentWithAddress.tsx
  frontend/components/garbage/GarbageCollectionEventComponentWithoutAddress.tsx
  frontend/components/garbage/GarbageEditModal.tsx
  frontend/components/garbage/SelectedBuildingList.tsx
  frontend/components/garbage/duplicateGarbageCollectionModal.tsx
  frontend/components/header/adminHeader.tsx
  frontend/components/loginForm.tsx
  frontend/components/password/passwordModal.tsx
  frontend/components/signupForm.tsx
  frontend/components/student/fileList.tsx
  frontend/components/student/remarkModal.tsx
  frontend/lib/error.ts
  frontend/lib/garbage-collection.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/admin/communication.tsx
  frontend/pages/admin/data/buildings/edit.tsx
  frontend/pages/admin/data/buildings/index.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
  frontend/pages/admin/data/regions/index.tsx
  frontend/pages/admin/data/tours/edit.tsx
  frontend/pages/admin/data/tours/index.tsx
  frontend/pages/student/building.tsx
  frontend/pages/user/profile.tsx
  frontend/types.d.ts
Labels: enhancement, back-end, front-end, priority, bug-fix

#373 Feature/bulk move garbage collection
  backend/garbage_collection/urls.py
  backend/garbage_collection/views.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/locale/nl/LC_MESSAGES/django.mo
  backend/locale/nl/LC_MESSAGES/django.po
  backend/util/request_response_util.py
Labels: enhancement, back-end
