Repository SELab-2/Dr-Trottoir-4, pull requests merged in 2023-05, with the labels that each got.

#394 Feature/query params remark
  backend/remark_at_building/tests.py
  backend/remark_at_building/views.py
  frontend/components/autocompleteComponents/autocompleteComponent.tsx
  frontend/components/garbage/GarbageCollectionEventComponentWithAddress.tsx
  frontend/components/garbage/GarbageCollectionEventComponentWithoutAddress.tsx
  frontend/components/garbage/SelectedBuildingList.tsx
  frontend/components/student/fileList.tsx
Labels: enhancement, back-end, priority

#393 Added docs about version number of manual (fixes #383)
  backend/manual/views.py
Labels: documentation, back-end

#400 Added public building info page for residents (fixes #398)
  backend/base/models.py
  frontend/components/building/BuildingPage.tsx
  frontend/components/building/buildingComponents/BuildingInfo.tsx
  frontend/components/building/buildingComponents/editModals/PatchBuildingSyndicModal.tsx
  frontend/lib/building.ts
  frontend/pages/public/building.tsx
Labels: enhancement, front-end

#438 Bugfix list params
  backend/users/views.py
  backend/util/request_response_util.py
Labels: back-end, bug-fix

#391 Feature/forgot password
  backend/authentication/forms.py
  backend/datadump.json
  frontend/.env.local
  frontend/components/admin/deleteEmailModal.tsx
  frontend/components/admin/tourDeleteModal.tsx
  frontend/components/autocompleteComponents/tourAutocomplete.tsx
  frontend/components/calendar/calendar.tsx
  frontend/components/deleteConfirmationDialog.tsx
  frontend/components/fileInputField.tsx
  frontend/components/garbage/BulkOperationModal.tsx
  frontend/components/liveField.tsx
  frontend/components/loginForm.tsx
  frontend/components/logout.tsx
  frontend/components/password/resetPassword.tsx
  frontend/components/pdfUploader.tsx
  frontend/components/regionModal.tsx
  frontend/components/scrollViewPicture.tsx
  frontend/components/student/PersonalSchedule.tsx
  frontend/components/student/PlannedBuildingList.tsx
  frontend/components/student/buildingInfoView.tsx
  frontend/components/student/fileList.tsx
  frontend/components/student/finishedBuildingModal.tsx
  frontend/components/student/remarkModal.tsx
  frontend/components/student/toursList.tsx
  frontend/components/withAuthorisation.tsx
  frontend/lib/authentication.ts
  frontend/lib/building-comment.ts
  frontend/lib/building-on-tour.ts
  frontend/lib/email-template.ts
  frontend/lib/login.ts
  frontend/lib/reroute.ts
  frontend/lib/reset.ts
  frontend/lib/signup.ts
  frontend/lib/storage.ts
  frontend/lib/tour.ts
  frontend/pages/_document.tsx
  frontend/pages/admin/dashboard.tsx
  frontend/pages/admin/data/buildings/edit.tsx
  frontend/pages/admin/data/buildings/index.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
  frontend/pages/admin/data/regions/index.tsx
  frontend/pages/forgot-password.tsx
  frontend/pages/reset-password.tsx
  frontend/pages/syndic/dashboard.tsx
Labels: enhancement, back-end, front-end

#435 Feature/calendar schedule
  backend/datadump.json
  backend/student_on_tour/views.py
  frontend/.env.local
  frontend/components/autocompleteComponents/autocompleteComponent.tsx
  frontend/components/autocompleteComponents/studentAutocomplete.tsx
  frontend/components/autocompleteComponents/tourUsersAutocomplete.tsx
  frontend/components/calendar/addEvent.tsx
  frontend/components/calendar/addScheduleEvent.tsx
  frontend/components/calendar/addTourSchedule.tsx
  frontend/components/calendar/calendar.module.css
  frontend/components/calendar/calendar.tsx
  frontend/components/calendar/colors.ts
  frontend/components/calendar/copyEvents.tsx
  frontend/components/calendar/customEvent.tsx
  frontend/components/calendar/editEvent.tsx
  frontend/components/calendar/editScheduleEvent.tsx
  frontend/components/calendar/loadEvents.tsx
  frontend/components/calendar/scheduleCalendar.tsx
  frontend/components/calendar/util/Globalize.js
  frontend/components/calendar/util/Moment.js
  frontend/components/garbage/duplicateGarbageCollectionModal.tsx
  frontend/components/successMessageAlert.tsx
  frontend/lib/student-on-tour.ts
  frontend/lib/user.ts
  frontend/pages/admin/data/regions/index.tsx
  frontend/pages/admin/data/schedules/index.tsx
  frontend/styles/globals.css
  frontend/types.d.ts
Labels: front-end

#466 Bugfix on garbage-collection/duplicate
  .github/workflows/tests.yml
  backend/analysis/views.py
  backend/authentication/forms.py
  backend/base/apps.py
  backend/base/models.py
  backend/base/permissions.py
  backend/base/serializers.py
  backend/config/asgi.py
  backend/config/settings.py
  backend/garbage_collection/views.py
  backend/picture_of_remark/views.py
  backend/users/views.py
  backend/util/request_response_util.py
Labels: back-end, bug-fix

#474 Bugfix: `/analysis/student-on-tour/`
  backend/analysis/serializers.py
Labels: back-end, bug-fix

#476 Better UX/UI of remarks and pictures on building info page (fixes #433)
  frontend/components/ImageEnlargeModal.tsx
  frontend/components/building/BuildingPage.tsx
  frontend/components/building/buildingComponents/CollectionCards.tsx
  frontend/components/building/buildingComponents/LatestCollectionDetail TODO:VERWIJDEREN.tsx
  frontend/lib/remark-at-building.ts
  frontend/pages/admin/dashboard.tsx
Labels: enhancement, front-end

#473 Remove end-tour
  frontend/components/student/workingView.tsx
Labels: front-end, bug-fix

#456 Fix most-recent remark at building when empty
  backend/remark_at_building/views.py
Labels: back-end, bug-fix

#490 Fix that brings signals back
  backend/base/apps.py
Labels: back-end, bug-fix

#464 remove negative tourId
  frontend/components/calendar/addScheduleEvent.tsx
  frontend/components/calendar/addTourSchedule.tsx
Labels: front-end, bug-fix

#479 Feature/building info remarks enhancement
  backend/locale/en/LC_MESSAGES/django.po
  backend/locale/nl/LC_MESSAGES/django.mo
  backend/locale/nl/LC_MESSAGES/django.po
  backend/remark_at_building/views.py
  frontend/components/building/BuildingPage.tsx
  frontend/components/building/buildingComponents/BuildingInfo.tsx
  frontend/components/building/buildingComponents/CollectionCards.tsx
  frontend/components/building/buildingComponents/LatestCollections.tsx
  frontend/components/building/buildingComponents/editModals/PatchBuildingAdminModal.tsx
  frontend/components/building/buildingComponents/editModals/PatchBuildingSyndicModal.tsx
  frontend/components/building/buildingComponents/editModals/handleUtil.ts
  frontend/lib/dateUtil.ts
  frontend/lib/remark-at-building.ts
Labels: enhancement, front-end

#496 RemarkAtBuilding websockets
  backend/base/signals.py
  backend/config/asgi.py
  backend/config/consumers.py
  frontend/components/building/buildingComponents/CollectionCards.tsx
Labels: enhancement, back-end, front-end

#475 Feature Schedule Duplication
  backend/garbage_collection/serializers.py
  backend/garbage_collection/views.py
  backend/student_on_tour/serializers.py
  backend/student_on_tour/urls.py
  backend/student_on_tour/views.py
  backend/util/duplication/serializer.py
  backend/util/duplication/view.py
  backend/util/request_response_util.py
  backend/util/util.py
  frontend/.env.local
  frontend/components/calendar/copyEvents.tsx
  frontend/components/calendar/duplicateScheduleModal.tsx
  frontend/components/calendar/scheduleCalendar.tsx
  frontend/lib/garbage-collection.ts
  frontend/lib/student-on-tour.ts
  frontend/pages/admin/data/garbage-collection/index.tsx
Labels: enhancement, back-end, front-end

#485 Add `withAuthorisation` to all pages
  backend/garbage_collection/views.py
  backend/remark_at_building/views.py
  backend/util/duplication/serializer.py
  backend/util/duplication/view.py
  frontend/components/garbage/BulkMoveGarbageModal.tsx
  frontend/pages/admin/building.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
  frontend/pages/admin/data/mails/index.tsx
  frontend/pages/admin/data/schedules/edit.tsx
  frontend/pages/user/profile.tsx
Labels: enhancement, front-end

#477 Feature/analysis pages
  backend/datadump.json
  frontend/.env.local
  frontend/components/calendar/duplicateScheduleModal.tsx
  frontend/components/header/adminFilterHeader.tsx
  frontend/components/header/adminHeader.tsx
  frontend/i18n.ts
  frontend/lib/analysis.ts
  frontend/lib/user.ts
  frontend/pages/admin/analysis/index.tsx
  frontend/pages/admin/analysis/student-on-tour.tsx
  frontend/pages/admin/analysis/students/index.tsx
  frontend/pages/admin/analysis/students/student/building.tsx
  frontend/pages/admin/analysis/students/student/index.tsx
  frontend/pages/admin/analysis/tours.tsx
  frontend/pages/admin/analysis/worked-hours.tsx
  frontend/pages/admin/analysis/working-hours.tsx
  frontend/styles/globals.css
  frontend/types.d.ts
Labels: enhancement, front-end

#495 Random uuid as public id when none is given on POST building (fixes #472)
  backend/base/models.py
  backend/building/views.py
Labels: enhancement, back-end

#517 automatic date building comment + empty list instead of bad request
  backend/base/models.py
  backend/building_comment/views.py
  frontend/pages/admin/analysis/student-on-tour.tsx
  frontend/pages/admin/analysis/worked-hours.tsx
Labels: enhancement, back-end, bug-fix

#455 Better UX public ID (fixes #416)
  .gitignore
  frontend/components/building/buildingComponents/BuildingInfo.tsx
Labels: enhancement, front-end

#437 Feature/list manuals
  backend/base/permissions.py
  backend/config/settings.py
  backend/garbage_collection/views.py
  backend/requirements.txt
  frontend/components/building/BuildingPage.tsx
  frontend/components/building/buildingComponents/BuildingInfo.tsx
  frontend/components/footer/syndicFooter.tsx
  frontend/components/manual/ManualList.tsx
  frontend/components/manual/ManualView.tsx
  frontend/components/pdfUploader.tsx
  frontend/components/student/fileList.tsx
  frontend/components/student/finishedBuildingModal.tsx
  frontend/components/student/remarkModal.tsx
  frontend/lib/building-manual.ts
  frontend/lib/building.ts
  frontend/pages/admin/data/buildings/edit.tsx
  frontend/pages/admin/manual.tsx
  frontend/pages/syndic/manual.tsx
  recreate-db.sh
Labels: enhancement, front-end

#491 Feature/handle errors
  backend/garbage_collection/views.py
  frontend/components/admin/editLobbyModal.tsx
  frontend/components/building/BuildingPage.tsx
  frontend/components/calendar/duplicateScheduleModal.tsx
  frontend/components/garbage/SelectedBuildingList.tsx
  frontend/components/logout.tsx
  frontend/components/password/passwordModal.tsx
  frontend/components/student/PersonalSchedule.tsx
  frontend/components/student/PlannedBuildingList.tsx
  frontend/components/student/buildingInfoView.tsx
  frontend/components/student/fileList.tsx
  frontend/components/student/finishedBuildingModal.tsx
  frontend/components/student/remarkModal.tsx
  frontend/components/student/workingView.tsx
  frontend/components/withAuthorisation.tsx
  frontend/pages/admin/communication.tsx
  frontend/pages/admin/data/buildings/edit.tsx
  frontend/pages/admin/data/buildings/index.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
  frontend/pages/admin/data/lobby/index.tsx
  frontend/pages/admin/data/mails/index.tsx
  frontend/pages/admin/data/regions/index.tsx
  frontend/pages/admin/data/schedules/index.tsx
  frontend/pages/admin/data/tours/edit.tsx
  frontend/pages/admin/data/tours/index.tsx
  frontend/pages/admin/data/users/index.tsx
  frontend/pages/admin/manual.tsx
  frontend/pages/forgot-password.tsx
  frontend/pages/login.tsx
  frontend/pages/syndic/dashboard.tsx
  frontend/pages/syndic/manual.tsx
  frontend/pages/user/profile.tsx
Labels: enhancement, front-end

#494 Only post to `/start` if `StudentOnTour` is not already started
  frontend/components/admin/editLobbyModal.tsx
  frontend/components/garbage/SelectedBuildingList.tsx
  frontend/components/logout.tsx
  frontend/components/password/passwordModal.tsx
  frontend/components/student/PersonalSchedule.tsx
  frontend/components/student/PlannedBuildingList.tsx
  frontend/components/student/buildingInfoView.tsx
  frontend/components/student/remarkModal.tsx
  frontend/pages/admin/communication.tsx
  frontend/pages/admin/data/buildings/index.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
  frontend/pages/admin/data/lobby/index.tsx
  frontend/pages/admin/data/mails/index.tsx
  frontend/pages/admin/data/regions/index.tsx
  frontend/pages/admin/data/schedules/index.tsx
  frontend/pages/admin/data/tours/index.tsx
  frontend/pages/admin/data/users/index.tsx
  frontend/pages/forgot-password.tsx
  frontend/pages/login.tsx
  frontend/pages/syndic/dashboard.tsx
Labels: front-end, bug-fix

#528 Bugfix/test action
  .github/workflows/tests.yml
Labels: back-end, priority, bug-fix

#463 Feature/frontend testing
  frontend/__mocks__/styleMock.js
  frontend/__tests__/admin/deleteEmailModal.test.tsx
  frontend/__tests__/buildingPage.test.tsx
  frontend/__tests__/calendar/addScheduleEvent.test.tsx
  frontend/__tests__/calendar/duplicateScheduleModal.tsx
  frontend/__tests__/errorMessageAlert.test.tsx
  frontend/__tests__/garbage/bulkMoveGarbageModal.test.tsx
  frontend/__tests__/garbage/garbageEditModal.test.tsx
  frontend/__tests__/garbage/selectedBuildinList.test.tsx
  frontend/__tests__/loginForm.test.tsx
  frontend/__tests__/logout.test.tsx
  frontend/__tests__/passwordInput.test.tsx
  frontend/__tests__/passwordModal.test.tsx
  frontend/__tests__/regionModal.test.tsx
  frontend/__tests__/scrollViewPicture.tsx
  frontend/__tests__/student/fileList.test.tsx
  frontend/components/calendar/duplicateScheduleModal.tsx
  frontend/components/garbage/BulkMoveGarbageModal.tsx
  frontend/components/garbage/GarbageEditModal.tsx
  frontend/components/loginForm.tsx
  frontend/components/password/passwordInput.tsx
  frontend/components/regionModal.tsx
  frontend/components/scrollViewPicture.tsx
  frontend/components/student/fileList.tsx
  frontend/jest.config.js
  frontend/package.json
  package-lock.json
Labels: front-end

#532 Feature/action frontend testing
  .github/workflows/tests.yml
  frontend/__tests__/buildingPage.test.tsx
Labels: enhancement, front-end

#512 Patch remark student
  .github/workflows/django-translations.yml
  backend/base/models.py
  backend/base/permissions.py
  backend/locale/en/LC_MESSAGES/django.po
  backend/locale/nl/LC_MESSAGES/django.mo
  backend/locale/nl/LC_MESSAGES/django.po
  backend/remark_at_building/views.py
  frontend/components/student/workingView.tsx
Labels: back-end, bug-fix

#510 Add d&d for garbage schedule
  frontend/__tests__/buildingPage.test.tsx
  frontend/__tests__/calendar/addScheduleEvent.test.tsx
  frontend/__tests__/calendar/duplicateScheduleModal.tsx
  frontend/__tests__/errorMessageAlert.test.tsx
  frontend/__tests__/garbage/bulkMoveGarbageModal.test.tsx
  frontend/__tests__/garbage/garbageEditModal.test.tsx
  frontend/__tests__/garbage/selectedBuildinList.test.tsx
  frontend/__tests__/loginForm.test.tsx
  frontend/__tests__/logout.test.tsx
  frontend/__tests__/passwordInput.test.tsx
  frontend/__tests__/passwordModal.test.tsx
  frontend/__tests__/regionModal.test.tsx
  frontend/__tests__/scrollViewPicture.tsx
  frontend/components/autocompleteComponents/buildingAutocomplete.tsx
  frontend/components/calendar/duplicateScheduleModal.tsx
  frontend/components/garbage/GarbageEditModal.tsx
  frontend/components/loginForm.tsx
  frontend/components/password/passwordInput.tsx
  frontend/components/regionModal.tsx
  frontend/components/scrollViewPicture.tsx
  frontend/jest.config.js
  frontend/pages/admin/data/garbage-collection/index.tsx
  frontend/pages/default/dashboard.tsx
Labels: enhancement, front-end

#534 remove duplicate import in index.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
Labels: front-end, bug-fix

#515 Feature/websockets calendars
  backend/base/signals.py
  backend/config/asgi.py
  backend/config/consumers.py
  backend/student_on_tour/views.py
  frontend/.env.local
  frontend/components/autocompleteComponents/buildingAutocomplete.tsx
  frontend/components/calendar/addScheduleEvent.tsx
  frontend/components/calendar/addTourSchedule.tsx
  frontend/components/calendar/duplicateScheduleModal.tsx
  frontend/components/calendar/editScheduleEvent.tsx
  frontend/components/calendar/scheduleCalendar.tsx
  frontend/components/datepicker/DateRangePicker.tsx
  frontend/components/datepicker/datepicker.tsx
  frontend/components/garbage/BulkMoveGarbageModal.tsx
  frontend/components/garbage/GarbageEditModal.tsx
  frontend/lib/garbage-collection.ts
  frontend/lib/student-on-tour.ts
  frontend/locales/localizerCalendar.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/pages/admin/analysis/student-on-tour.tsx
  frontend/pages/admin/analysis/worked-hours.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
  frontend/styles/globals.css
  frontend/types.d.ts
Labels: enhancement, back-end, front-end

#505 Feature/buildinginfo ws better code
  backend/base/signals.py
  backend/config/consumers.py
  frontend/components/building/buildingComponents/CollectionCards.tsx
  frontend/components/calendar/addScheduleEvent.tsx
  frontend/components/calendar/addTourSchedule.tsx
  frontend/components/calendar/editScheduleEvent.tsx
  frontend/components/datepicker/DateRangePicker.tsx
  frontend/components/datepicker/datepicker.tsx
  frontend/lib/remark-at-building.ts
Labels: enhancement, front-end

#541 removed package-lock.json from root directory
  package-lock.json
Labels: front-end

#539 fix `NaN` on analysis + added links for buildings on tour
  frontend/pages/admin/analysis/student-on-tour.tsx
  frontend/pages/admin/data/tours/index.tsx
Labels: front-end, bug-fix

#548 Feature/tour filter params
  backend/tour/views.py
  backend/users/views.py
  frontend/components/autocompleteComponents/autocompleteComponent.tsx
  frontend/components/autocompleteComponents/tourAutocomplete.tsx
  frontend/components/autocompleteComponents/tourUserAutocomplete.tsx
  frontend/components/autocompleteComponents/userFromRegionAutocomplete.tsx
  frontend/components/calendar/addScheduleEvent.tsx
  frontend/components/calendar/addTourSchedule.tsx
  frontend/components/calendar/editScheduleEvent.tsx
  frontend/lib/tour.ts
  frontend/lib/user.ts
  frontend/pages/admin/data/garbage-collection/index.tsx
  frontend/pages/admin/tour.tsx
Labels: enhancement, back-end, front-end, bug-fix

#549 Added regions to table
  backend/remark_at_building/tests.py
  frontend/pages/admin/data/users/index.tsx
  frontend/types.d.ts
Labels: enhancement, front-end

#550 Fixed duplicate student on tours on dashboard
  frontend/pages/admin/dashboard.tsx
Labels: front-end, bug-fix

#551 fixes calendar garbage collection
  frontend/components/calendar/customEvent.tsx
  frontend/components/calendar/scheduleCalendar.tsx
  frontend/components/garbage/BulkMoveGarbageModal.tsx
  frontend/components/garbage/GarbageCollectionEventComponentWithAddress.tsx
  frontend/components/garbage/GarbageCollectionEventComponentWithoutAddress.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
Labels: front-end, bug-fix

#555 add min-height for rbc-event
  frontend/styles/globals.css
Labels: enhancement, front-end

#560 fix 2 buttons styling
  frontend/pages/admin/data/regions/index.tsx
  frontend/pages/admin/data/tours/index.tsx
Labels: front-end, bug-fix

#562 Hotfix/reset password
  frontend/pages/reset-password.tsx
  frontend/styles/globals.css
Labels: front-end, bug-fix

#564 Added fields in containre
  frontend/pages/admin/analysis/tour.tsx
Labels: enhancement, front-end

#568 Bugfix/comminucation name
  frontend/components/admin/editEmailModal.tsx
  frontend/pages/admin/communication.tsx
  frontend/pages/admin/data/regions/index.tsx
  frontend/pages/admin/data/tours/index.tsx
Labels: front-end, bug-fix

#566 Hotfix/schedule websocket close
  frontend/components/calendar/scheduleCalendar.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
Labels: front-end, bug-fix

#571 Add space in syndic footer
  frontend/components/footer/syndicFooter.tsx
Labels: enhancement, front-end

#573 Hotfix/building duration
  frontend/components/autocompleteComponents/autocompleteComponent.tsx
  frontend/components/password/resetPassword.tsx
  frontend/lib/student-on-tour.ts
  frontend/pages/admin/data/buildings/edit.tsx
Labels: front-end, bug-fix

#574 Hotfix/responsiveness
  frontend/components/autocompleteComponents/autocompleteComponent.tsx
  frontend/pages/admin/analysis/tour.tsx
  frontend/pages/admin/analysis/worked-hours.tsx
  frontend/pages/admin/communication.tsx
  frontend/pages/admin/dashboard.tsx
  frontend/pages/admin/data/garbage-collection/index.tsx
Labels: front-end, bug-fix
